header {
 background-color: tan;   
 color: #244751;

}

body {
    background-color: whitesmoke;
}

main {
    background-color: white;
    padding: 16px;  
}



.finstagram-post {
    margin-bottom: 48px;
}

.photo {
    margin-bottom: 13px;
}

.user-info {
    margin-bottom: 13px;
}

.finstagram-post .user-info img {
    border-radius: 50%;
}