* {
  box-sizing: border-box;
  
}

body, input {
  font-family: 'Poppins';
  margin: 0;
  color: #244751;
}


label {
  display: block;
  margin-bottom: .25em;
}

input[type=text], input[type=password], input[type=email] {
  border: solid 1px; 
  font-size: 1em;
}



header {
  overflow: hidden;
  display: flex;
  align-items: baseline;
  background-color: tan;
  

  
}

header > .login-info {
  text-align: right;
  text-decoration: none;
  margin: 0 0 0 auto;
  color: #244751;

}

main {
  width: 500px;
  margin: 0 auto;
  padding: 5px; 
}

.new-finstagram-post {
  
  text-align: center;
  margin-bottom: 2em;
  padding: 5px 5px;
  align-items: center;
}
  


.new-finstagram-post > .button {
  display: inline-block;
  padding: 1em;
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
}

.button {
  
  background-color: antiquewhite;
  border: solid 0.5px #244751;
  display: inline-block;
}

.finstagram-post > * {
  margin-bottom: 1em;
}

.user-info {
  display: flex;
  align-items: baseline;
}

.user-info img {
  width: 40px;
}

.user-info h2 {
  margin: 0 0 0 .5em;
}

.user-info h3 {
  margin: 0 0 0 auto;
}

.photo {
  display: block;
}

.photo img {
  display: block;
  width: 100%;
}

.actions {
  display: flex;
  align-items: baseline;
}

.actions button.user-like {
  color: white;
  border-color: white;
  
}

.actions .comment-count {
  margin-left: auto;
}

.comments {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style-type: none;
}

.form-group {
  margin-bottom: 1em;
  align-items: center;
}

.new-comment input[type="text"] {
  width: 100%;
}

.login-info {
  font-weight: bold;
  text-decoration: none;
}